.slider{
    border: 1px solid #ff0000;
    height: 250px;
    overflow: hidden;
    margin: 0;
}

.slider img{
    width: 100%;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.border{
    border: 1px solid red;
}

.left-arrow, .right-arrow{
    background-color: #000;
    opacity: 0.75;
    color: #fff;
    margin: 0 2px;
    position: relative;
    bottom: 15%;
    left: 35%;
}