.category-page{
    background-color: #ffffff;
    width: 90%;
    margin: auto;
    height: fit-content;
}

/* .category-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-top: 12px;
} */

.category-list-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-top: 12px;
}